/* .wu-tang {
    background-image: url("../img/cover.jpeg");
    background-repeat: no-repeat;
    min-height: 600px;
} */

body{
    background-image: url("../img/cover.jpeg");
    background-repeat: no-repeat;
    min-height: 500px;
    backdrop-filter: blur(10px);

}

.questions {
    font-family: 'Courier New', Courier, monospace;
    color:yellow;
    width: 70%;
    /* 70% of the parents */
    margin:auto;
    place-items: center;

}

#submit {
    display: grid;
    place-items: center;
}

h1{
    text-align: center;
}


